<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Empty Product List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
  <div style="margin-bottom: 100px">
    <%- include("./partials/navbar.ejs") %>
  </div>
  <div style="margin-left:300px; margin-right:300px">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Stock</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% product.forEach((el, i)=> { %>
          <tr>
            <th scope="row">
              <%= (i + 1) %>
            </th>
            <td>
              <%= el.name %>
            </td>
            <td>
              <%= el.stock %>
            </td>
            <td>
              <a href="/products/restock/<%= el.id %>">
                <button>
                  Restock
                </button>
              </a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</body>

</html>