<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>editProfile</title>
  <style>
    .img-account-profile {
      height: 10rem;
    }

    .rounded-circle {
      border-radius: 50% !important;
    }
  </style>
</head>

<body>
  <div style="margin-bottom: 100px">
    <%- include("./partials/navbar.ejs") %>
  </div>

  <div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
      <div class="col-xl-4">
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
          <form action="/profile/edit" method="post" enctype="multipart/form-data">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
              <!-- Profile picture image-->
              <img class="img-account-profile rounded-circle mb-2" src="<%= profile.photo %> " alt="">
              <!-- Profile picture help block-->
              <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
              <!-- Profile picture upload button-->
              <!-- <button class="btn btn-primary" type="button">Upload new photo</button> -->
              <input style="margin-left: 90px" type="file" name="photo" />
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
          <div class="card-header">Profile Details</div>
          <div class="card-body">
            <form action="/profile/edit" method="post">
              <!-- Form Row-->
              <div class="row gx-3 mb-3">
                <!-- Form Group (name)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputFirstName">Name</label>
                  <input class="form-control" id="inputFirstName" name="name" type="text" placeholder="Enter your name"
                    value="<%= profile.name %> ">
                </div>
              </div>
              <!-- Form Row -->
              <div class="row gx-3 mb-3">
                <!-- Form Group (dateOfBirth)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputOrgName">Date Of Birth</label>
                  <input class="form-control" name="dateOfBirth" type="date"
                    value="<%= formatingDateForForm(profile.dateOfBirth) %>">
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (phone number)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputPhone">Phone number</label>
                    <input class="form-control" name="phoneNumber" id="inputPhone" type="tel"
                      placeholder="Enter your phone number" value="<%= profile.phoneNumber %> ">
                  </div>
                  <!-- Form Group (gender)-->
                  <label for="">Gender</label> <br>
                  <div class="col-md-6">
                    <select name="gender">
                      <% gender.forEach(el=> { %>
                        <% if (el===profile.gender) { %>
                          <option selected value="<%= el %>">
                            <%= el %>
                          </option>
                          <% } else { %>
                            <option value="<%= el %>">
                              <%= el %>
                            </option>
                            <% } }) %>
                    </select>
                  </div>
                  <!-- Save changes button-->
                  <button style="margin-top: 15px" class="btn btn-primary" type="submit">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>